# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
.venv/
build/
dist/
*.egg-info/
.eggs/

# Django
*.log
*.pot
*.pyc
*.mo
*.sqlite3
*.db
media/
staticfiles/

# Pytest
.cache/

# VS Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db
